.Home-category-banner-image{

   display: block;
   margin: 30px auto;
   width: 82%;

}
.Home-category-banner-image img{

  width: 100%;
   height: 350px;
   
   object-fit: cover;



}
.Item-image-wrapper{
   aspect-ratio: 1/1;
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.Item-image-wrapper img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
   transition: all 0.8s;
}


.Item-image-wrapper img:hover{
   transform: scale(1.3);
}
.Homecategory-indexSort{

   display: flex;
   margin: 0px 170px;
   justify-content: space-between;


}

.Homecategory-indexSort p span{

   font-weight: 600;


}
.Homecategory-products{

   margin: 20px 170px;
   display: flex;
   flex-wrap: wrap;
   gap: 24px;

}
.Homecategory-products .Item{
   width: calc(33.33% - 16px);
}
.Homecategory-load-more{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  margin-bottom: 40px;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background-color: white;
  color: black;
border: 1px solid black;
cursor: pointer;
font-size: 18px;
font-weight: 500;
}
.Homecategory-load-more:hover{

   background-color: black;
   color: white;
   transition: 0.7s;


}