.login{
    width: 100%;
    height: 80vh;
    background-color:white;
  
    margin-bottom: 70px;
    margin-top: 30px;
  

}
.login-container{
 
   
    width: 600px;
    height: 600px;
    background-color: white;
    margin:auto;
    padding: 40px 60px;
   
   
}
.login-container h1{
   margin: 20px 0px;

}
.login-fields{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 30px;

}
.login-fields input{

height: 72px;
width: 100%;
padding-left: 20px;
border: 1px solid black;
outline: none;
color: black;
font-size: 18px;
}
.login-container button{

    width: 100%;
height: 72px;
color: white;
background-color: black;
margin-top:30px ;
border: none;
font-size: 24px;
font-weight: 500;
cursor: pointer;
}
.login-login{

margin-top: 20px;
color: black;
font-size: 18px;
font-weight:500;
}
.login-login link{
    
 text-decoration: none;


}
.login-agree{

display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 70px;
gap: 10px;
font-size: 16px;
font-weight:500;
}

